* {
  font-family: sans-serif;
  font-size: 20px;
}

article {
  width: 700px;
  margin: 0 auto;
}

button {
  border: none;
  color: green;
}

h1,
i {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

a {
  color: black;
}

.first-section {
  display: flex;
  align-items: center;
}

.vertical {
  border: 0;
  margin-right: 10px;
  border-left: 4px solid;
  height: 100px;
  float: left;
}
